---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LargeContainer from "../components/foundation/LargeContainer.astro";
import SectionContainer from "../components/foundation/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Welcome to Astro.">
	<main class="grid">
		<SectionContainer>
			<LargeContainer>
				<h1
					class="pb-8 pt-10 text-3xl font-medium leading-normal md:pb-10 md:pt-14 md:text-5xl md:leading-normal lg:pb-12 lg:pt-20 lg:text-6xl lg:leading-normal"
				>
					Solving complex problems with intuitive design solutions
				</h1>
			</LargeContainer>
		</SectionContainer>
		<SectionContainer>
			<Projects />
		</SectionContainer>

		<SectionContainer bgColor="bg-emerald-500">
			<section>Process</section>
			<section>About</section>
			<section>Experience</section>
			<section>Books</section>
		</SectionContainer>

		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
	</main>
</Layout>
