---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LargeContainer from "../components/foundation/LargeContainer.astro";
import SectionContainer from "../components/foundation/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Process from "../components/Process.astro";
import About from "../components/About.astro";
import Books from "../components/Books.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Welcome to Astro.">
	<main class="grid">
		<SectionContainer>
			<LargeContainer>
				<h1
					class="pb-8 pt-10 text-3xl font-medium leading-normal md:pb-10 md:pt-14 md:text-5xl md:leading-normal lg:pb-12 lg:pt-20 lg:text-6xl lg:leading-normal"
					id="projects"
				>
					Solving complex problems with intuitive design solutions
				</h1>
			</LargeContainer>
		</SectionContainer>
		<SectionContainer>
			<Projects />
		</SectionContainer>
		<SectionContainer bgColor="bg-gray-100">
			<div class="py-24" id="process">
				<Process />
			</div>
		</SectionContainer>
		<SectionContainer bgColor="bg-gray-900">
			<LargeContainer>
				<figure class="grid gap-y-4 py-16 text-white">
					<blockquote>
						<p class="text-xl leading-normal md:text-2xl md:leading-normal">
							I always look forward to seeing the creative & functional designs
							Samantha comes up with. She's great at taking in feedback and
							iterating as&nbsp;needed.
						</p>
					</blockquote>
					<figcaption class="font-mono-space text-sm">
						– Anonymous peer review
					</figcaption>
				</figure>
			</LargeContainer>
		</SectionContainer>

		<SectionContainer>
			<div class="py-24" id="about">
				<About />
			</div>
		</SectionContainer>

		<SectionContainer bgColor="bg-gray-100">
			<div class="py-24" id="experience">
				<Experience />
			</div>
		</SectionContainer>
		<SectionContainer>
			<div class="py-24">
				<Books />
			</div>
		</SectionContainer>
		<SectionContainer bgColor="bg-gray-900">
			<LargeContainer>
				<figure class="grid gap-y-4 py-16 text-white">
					<blockquote>
						<p class="text-xl leading-normal md:text-2xl md:leading-normal">
							Samantha does an incredible job paying attention to all the
							details & big picture goals for projects. The projects she ships
							are always done with care, passion, and&nbsp;quality.
						</p>
					</blockquote>
					<figcaption class="font-mono-space text-sm">
						– Anonymous peer review
					</figcaption>
				</figure>
			</LargeContainer>
		</SectionContainer>
	</main>

	<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
</Layout>
