<footer
	class="grid gap-y-4 border-t border-solid border-black px-8 py-4 font-sans-serif text-sm md:grid-cols-12 md:py-0"
>
	<p class="md:col-span-10 md:py-4">
		Designed &amp; built by Samantha Albrecht &bull; Copyright &#169; {
			new Date().getUTCFullYear()
		}
	</p>
	<div class="flex gap-x-4 md:col-span-2 md:justify-self-end">
		<a
			href="https://www.linkedin.com/in/samantha-albrecht-%F0%9F%91%A9%E2%80%8D%F0%9F%92%BB-998053156/"
			title="Go to LinkedIn"
			rel="noopener noreferrer nofollow"
			class="transition duration-300 hover:bg-gray-200 md:px-3 md:py-4"
		>
			LinkedIn
		</a>
		<a
			href="https://github.com/samantha-albrecht/portfolio-v2.0"
			title="View source on Github"
			rel="noopener noreferrer nofollow"
			class="transition duration-300 hover:bg-gray-200 md:px-3 md:py-4"
		>
			Github
		</a>
	</div>
</footer>
